.genreButtons {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: auto;
  margin-bottom: 0px;
  width: 60%;
  max-width: 60%;
}
.genreButtons > * {
  padding: 10px;
  cursor: pointer;
  width: 100%;
}
.genreButtons :first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.genreButtons :last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: auto;
}
@media (max-width: 450px) {
}
@media (max-width: 600px) {
  .genreButtons {
    margin-left: auto !important;
    margin-right: 75px !important;
  }
  .selectedLabels {
    width: 100% !important;
  }
  .inputLabel {
    width: 100% !important;
    display: flex;
  }
  .inputLabel > input {
    width: 100% !important;
  }
  .inputLabel > button {
    width: 70% !important;
  }
  .submitButton {
    width: 40% !important ;
  }
}
.formElement {
  width: 70vw;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.selectedLabels {
  display: flex;
  width: 80%;
  height: 20%;
  border: 2px orange dashed;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 30px auto;
  cursor: pointer;
}
.labelElement {
  background-color: rgb(255, 183, 183);
  padding: 10px;
  margin: 10px;
  width: fit-content;
  border-radius: 10px;
}
.labelElement:hover {
  background-color: rgb(255, 38, 0);
  color: rgb(255, 38, 0);
}
.defaultText {
  align-self: center;
  justify-self: center;
  margin: auto;
  padding: 20px;
}
.inputLabel {
  width: 80%;
}
.inputLabel > * {
  padding: 5px;
  border-radius: 5px;
}
.inputLabel > input {
  width: 70%;
  margin-right: 3%;
}
.inputLabel > button {
  background-color: orange;
  border: 2px rgb(251, 191, 39) solid;
  cursor: pointer;
  width: 27%;
}
.submitButton {
  background-color: rgb(143, 244, 143);
  border: 2px rgb(251, 191, 39) solid;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  width: 20%;
  padding: 10px;
}
.nosInput {
  width: 70%;
}
.TypeButtons :first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.TypeButtons :last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.TypeButtons > * {
  cursor: pointer;
}
